/Semana03-Ejercicio01/nbproject/private/
/Semana03-Ejercicio01/build/
/Semana03-Ejercicio02/nbproject/private/
/Semana03-Ejercicio02/build/
/Semana03-Ejercicio03/nbproject/private/
/Semana03-Ejercicio03/build/
/Semana03-Ejercicio04/nbproject/private/
/Semana03-Ejercicio04/build/
/Semana04Ejercicio01/nbproject/private/
/Semana04Ejercicio01/build/
/Semana04Ejercicio02/nbproject/private/
/Semana04Ejercicio02/build/
/Semana04Ejercicio03/nbproject/private/
/Semana04Ejercicio03/build/
/Semana05Ejercicio03/nbproject/private/
/Semana05Ejercicio03/build/
/Semana06Ejercicio01/nbproject/private/
/Semana06Ejercicio01/build/
/Semana06Ejercicio03/nbproject/private/
/Semana06Ejercicio03/build/
/Semana06Ejercicio04/nbproject/private/
/Semana06Ejercicio04/build/
/Semana07Ejercicio01/nbproject/private/
/Semana07Ejercicio01/build/
/Semana07-Ejercicio01/nbproject/private/
/Semana07-Ejercicio01/build/
/Semana07-Ejercicio02/nbproject/private/
/Semana07-Ejercicio02/build/
/Semana08Ejercicio01/nbproject/private/
/Semana08Ejercicio01/build/
