/Semana03-Ejercicio01/nbproject/private/
/Semana03-Ejercicio01/build/
/Semana03-Ejercicio02/nbproject/private/
/Semana03-Ejercicio02/build/
/Semana03-Ejercicio03/nbproject/private/
/Semana03-Ejercicio03/build/
/Semana03-Ejercicio04/nbproject/private/
/Semana03-Ejercicio04/build/
/Semana04Ejercicio01/nbproject/private/
/Semana04Ejercicio01/build/
/Semana04Ejercicio02/nbproject/private/
/Semana04Ejercicio02/build/
/Semana04Ejercicio03/nbproject/private/
/Semana04Ejercicio03/build/
